html, body, h1, h2, h3, h4, h5, a, b, s, u, i, span, div, p, ul, ol, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	background-color: #aaaaaa;
}
canvas {
	background-color: #ccccff;
}
.box {
	background-color: #3366ff;
}
.world {

}
.scene {
	position: relative;
	display: block;
	margin: 20px auto 20px auto;
	text-align: center;
	font-size:40px;
	background-color: #ffffff;
	-moz-box-shadow: 0 0 12px #666666, 7px 7px 7px #666666;
	-webkit-box-shadow: 0 0 12px #666666, 7px 7px 7px #666666;
}
.view {
	position: absolute;
}
.canvasView {
	position: absolute;
}
.textView {
	position: absolute;
}
