@import url('../base.css');
canvas {
	background-color: #ccccff;
}

.Scene {
	background-color: #ffffff;
	-moz-box-shadow: 0 0 12px #666666, 7px 7px 7px #666666;
	-webkit-box-shadow: 0 0 12px #666666, 7px 7px 7px #666666;
}
.View {
	
}
.CanvasView {
	
}
.TextView {
	margin: 50px auto 50px auto;
}
.TitleTextView {
	
}
.SentenceTextView {
	
}
.SectionView {
	width: 100%;
	text-align: center;
	position: absolute;
	display: block;
}